* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: grey;
    color: white;
    min-width: 350px;
    text-align: center;
}


h1 {
    font-size: 60px;
}

h2 {
    font-size: 38px;
    margin-bottom: 5px
}

div.rijtjes {
    text-align: center;
    padding: 20px;
	padding-top: 130px;
    width: 300px;
    margin: auto;
}

.button {
    font-size: 22px;
    line-height: 25px;
    border: 3px solid #000;
    width: 65;
    height: 65;
    border-radius: 100%;
    /*
    background-color: white;
    color: white;
*/
    margin: auto;
    font-weight: bold;
    text-align: center;
}


/*
button:hover {
    opacity: 0.6;
}*/

button:active {
    box-shadow: 0 0 60px yellow;
}


.r {
    background-color: red;
}

.g {
    background-color: green;
}

.b {
    background-color: blue;
}

.grey {
    background-color: lightgray;
    font-size: 13px;
    color: #000;
}

.black {
    color: #000;
}

.rijtjes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 75px 75px 75px 75px 75px 75px;
    //border: 3px solid #000;
    margin-bottom: 10px;
}


.fa {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 30px;
    width: 100%;
    text-align: center;
    text-decoration: none;
}


.fa:hover {
    opacity: 0.7;
}


.fa-twitter {
    background: #55ACEE;
    color: white;
}

footer {
    position: absolute;
	bottom: 0px;
	width: 100%;
}

.oranje {
    background-color: #fd9f3b;
}

.lichtgroen {
    background-color: #59d95e;
}

.a11 {
    background-color: #0c88e2;
}

.a13 {
    background-color: #fc6f42;
}

.a14 {
    background-color: #2dc9d6;
}

.a15 {
    background-color: #2c2e78;
}

.a17 {
    background-color: #f9ab3c;
}

.a18 {
    background-color: #0b82ac;
}

.a19 {
    background-color: #612559;
    color: red;
}

.a21 {
    background-color: #f2d701;
}

.a22 {
    background-color: #02577e;
}

.a23 {
    background-color: #d456b9;
}

@media only screen and (min-width: 720px) {

div.backimg {
	margin-top: 10px;
	background-image: url(iphone2.png);
	width: 402px;
	height: 750px;
	text-align: center;
	margin:auto;
}

h2{
}

}